<div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body p-5">
                <div class="text-center">
                    <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>
                </div>
                <div class="text-center">
                    <h2>Forgot Password</h2>
                </div>
                <p style="color: lightslategray;">Please enter the username you used in registration<br> to reset your password</p>
                <form class="form-area" [formGroup]="resetForm" (ngSubmit) = resetPassword()>
                    <div class="form-group" >
                        <input type="text" id="text" placeholder="Username" class="form-control"  formControlName = "username"/>


                        <div  *ngIf="username.errors?.['required']">
                            <div *ngIf="username.touched && username.invalid" class="alert alert-danger"> Username is required</div>
                            
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <input type="password"  class="form-control" placeholder="New Password" formControlName="new_password">


                        <div  *ngIf="new_password.errors?.['required']">
                            <div *ngIf="new_password.touched && new_password.invalid" class="alert alert-danger"> Password is required</div>
                            
                        </div>
    
                        <div  *ngIf="new_password.errors?.['minlength']">
                            <div *ngIf="new_password.touched && new_password.invalid" class="alert alert-danger"> Password should be atleast 8 characters</div>
                            
                        </div>
                    </div>
                    <br>
                    <br>
                    <input type="submit" class="btn btn-primary w-100" value="Reset Password" [disabled]="resetForm.invalid">
                </form>
            </div>
            <div class="card-footer text-right">
                <small>Ohh I remember now <a routerLink="../login">Back to Login</a></small>
            </div>
        </div>
    </div>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
