/* .navbar-custom {
    background-color: #0A4275;
    padding: 10px 20px;
  }

  .navbar-custom .navbar-brand {
    color: black;
    font-size: 24px;
    font-weight: bold;
  }


.check {
    margin-right: 600px;
} */