<div class="container pt-5 mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h1 class="display-4">Oops!</h1>
          <h2 class="display-5">404 Not Found</h2>
          <p class="lead">Sorry, an error has occurred. The requested page could not be found.</p>
          <div class="error-actions">
            <a routerLink="/" class="btn btn-primary btn-lg"><span class="fas fa-home"></span> Take Me Home</a>
            <a routerLink="/" class="btn btn-secondary btn-lg"><span class="fas fa-envelope"></span> Contact Support</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  